*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.box{
    text-align: center;
    font-size: large;
    font-weight: bold;
    border: 5px solid black;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    float: left;
    margin: 10px;
    background-color: gray;
}
aside{
    border: 1px solid black;
    margin: 0px;
    width: 20%;
    height: 800px;
    float: left;
    background-color: rgb(1, 56, 38);
}
.tipBox{
    margin-left: 35%;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    width: 50%;
    padding: 15px;
    background-color: #015737;
    color: white;
}
#tip{
    float: left;
    margin-left: 22%;
}
/* Externo */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(rgba(255, 255, 255, 0.856), rgba(255, 255, 255, 0.789)), url('../imgs/jogo.png');
    
}
/* Button used to open the contact form - fixed at the bottom of the page */
.start-game-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  margin: 10% 5% 0 5%;
  border: none;
  cursor: pointer;
  width: 90%;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  align-items: center;
  top:20%;
  left:52%;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
/* Add styles to the form container */
.form-container {
  text-align: center;
  max-width: 250px;
  padding: 10px;
  background-color: #333;
  color: white;
  border-radius: 5px;
}
/* Full-width input fields */
.form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #30b886;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}
/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}
/* Add some hover effects to buttons */
.form-container .btn:hover, .start-game-button:hover {
  opacity: 1;
}
.form-container .start-game-button:disabled {
    background-color: gray;
}
.c1{
    background-color: #015737;
}
.rules{
    /* text-align: justify; */
    font-size: 15px;
    margin: 15% 5% 15% 5%;
    color: white;
    line-height: 30px;
    border: 1px solid white;
    padding: 10%;
}
h3{
    text-align: center;
}

